<!DOCTYPE html>
<html>
    <head>
        <title>JMDB</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../public/stylesheets/app.css" type="text/css" />

        <style>

          

            #out{
            text-align: center;
            font-size: 50;
            }

            .filters{
                height: 200px;
                border: 1px solid black;
                margin-bottom: 10px;
            }

            /* .img-thumbnail{
                height: 360px;
                margin: 5px;
                border-radius: 4px;
            }

            .img-thumbnail img{
                width: 29%;
                float: left;
            } */

            .imgContainer{
                height: 300px;
                border: 2px solid gray;
                border-radius: 4px;
                margin: 5px;
                padding: 3px;
                box-shadow: 5px 5px 2px gray;
            }

            .imgContainer img{
                width: 180px;
                float: left;
                border: 2px solid gray;
                border-radius: 3px;
            }

            .movieTitle{
                font-weight: bold;
            }

            .movieDescription{
                height: 150px;
            }

            .movieRating{
                font-weight: bold;
            }

            .movieInfo{
                width: 60%;
                float: right;
            }


        </style>
    </head>
    <body>